// 填充父元素（父元素需要设置position: relative）
self-fill(pos = absolute)
  position pos
  left 0
  top 0
  width 100%
  height 100%

// 在父元素居中（父元素需要设置position: relative）
self-center(pos = absolute)
  position pos
  top 50%
  left 50%
  transform translate(-50%,-50%)
